$black: #252B48;
$navy: #445069;
$teal: #5B9A8B;
$yellow: #F7E987;

// Reseteo de margin y padding a todos los elementos
// Se agregar la propierdad box-sizing para no desbordar elementos más allá de su tamaño
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Propiedades a etiquetas de maquetado
html {
    font-size: 62.5%; //10px si el tamaño por defecto es 16px
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    font-size: 1rem; //10px
    background: $black;
    display: flex;
    justify-content: center;
}

main {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 1rem;
    background: $black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Propiedades a etiquetas contenedoras
.main {
    width: 100%;
    font-size: 1rem;
    padding: 5em 0;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%;
    display: grid;
    font-size: 1.6em;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding: 1em;
    border-bottom: 2px solid rgba($yellow, 0.4);

    &__logotipo {
        color: $yellow;
        font-weight: 500;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .nav {
        display: flex;
        justify-content: end;
        gap: 10%;

        &__a {
            font-weight: 500;
            color: $yellow;
            text-decoration: none;
            border: none;
        }
    }
}

.timer {
    width: 40%;
    font-size: 1rem;
    padding: 3.5em;
    border-radius: 10px;
    background: $teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;

    &__header,
    &__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__time {
        font-size: 6.5em;
        font-weight: 700;
    }

    &__button {
        font-size: 1.6em;
        width: 30%;
        padding: 0.7em 0em;
        background: none;
        color: $yellow;
        background: $navy;
        border: 2px solid rgba($navy, 0.5);
        border-radius: 20px;
        
        &:hover {
            cursor: pointer;
            scale: 1.09;
            transition: all 0.3s ease-in-out;
        }
        
        &--active {
            background: $yellow;
            color: $black;
            font-weight: 700;
        }
    }

    &--descanso {
        background: $teal;
    }
}

.info {
    width: 60%;
    margin: 5em 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: justify;

    &__section {
        margin: 2em 0;
    }

    &__title {
        margin: 0.8em 0;
        font-size: 3.4em;
        font-weight: 700;
        text-align: center;
    }

    &__subtitle {
        font-size: 2.8em;
    }

    &__hr {
        margin: 1em 0;
        opacity: 0.5;
    }

    &__text {
        font-weight: 300;
        font-size: 1.8em;
        line-height: 1.8em;
    }
}

.footer {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__author {
        font-size: 1.6rem;
    }

    &__me {
        color: $yellow;
        font-weight: bold;
    }
}

//Importe de archivo scss con las media queries
@import 'queries';